<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.portaldatransparencia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortalDaTransparencia"
        tools:targetApi="31">
        <activity
            android:name=".views.controller.ControllerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.camara.deputado.DeputadoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.senado.senador.SenadorActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.camara.deputado.frente_deputado.FragmentFrenteId"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.activity.gastogeral.camara.ActivityGastoGeralCamara"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.activity.gastogeral.senado.ActivityGastoGeralSenado"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.activity.ranking.camara.ActivityRankingCamara"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.activity.ranking.senado.ActivityRankingSenado"
            android:exported="true">
        </activity>
        <activity
            android:name=".views.activity.votacoes.camara.ActivityVotacoesCamara"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.camara.deputado.proposta_deputado.FragmentPropostaItem"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.activity.votacoes.senado.ActivityVotacoesSenado"
            android:exported="true">
        </activity>
        <activity
            android:name="com.example.portaldatransparencia.views.activity.dados.ActivityDadosCamara"
            android:exported="true">
        </activity>
    </application>

</manifest>